In [1]:
import numpy as np
import pandas as pd
#get the data
data=pd.read_csv('/Users/chiragbansal/Downloads/ratings.csv')
data.head(50)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563
20       1      356     4.0  964980962
21       1      362     5.0  964982588
22       1      367     4.0  964981710
23       1      423     3.0  964982363
24       1      441     4.0  964980868
25       1      457     5.0  964981909
26       1      480     4.0  964982346
27       1      500     3.0  964981208
28       1      527     5.0  964984002
29       1      543     4.0  964981179
30       1      552     4.0  964982653
31       1      553     5.0  964984153
32       1      590     4.0  964982546
33       1      592     4.0  964982271
34       1      593     4.0  964983793
35       1      596     5.0  964982838
36       1      608     5.0  964982931
37       1      648     3.0  964982563
38       1      661     5.0  964982838
39       1      673     3.0  964981775
40       1      733     4.0  964982400
41       1      736     3.0  964982653
42       1      780     3.0  964984086
43       1      804     4.0  964980499
44       1      919     5.0  964982475
45       1      923     5.0  964981529
46       1      940     5.0  964982176
47       1      943     4.0  964983614
48       1      954     5.0  964983219
49       1     1009     3.0  964981775

In [2]:
#get the data
movie_titles_genre=pd.read_csv('/Users/chiragbansal/Downloads/movies.csv')
movie_titles_genre.head(50)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
30,31,Dangerous Minds (1995),Drama
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
32,34,Babe (1995),Children|Drama
33,36,Dead Man Walking (1995),Crime|Drama
34,38,It Takes Two (1995),Children|Comedy
35,39,Clueless (1995),Comedy|Romance
36,40,"Cry, the Beloved Country (1995)",Drama
37,41,Richard III (1995),Drama|War
38,42,Dead Presidents (1995),Action|Crime|Drama
39,43,Restoration (1995),Drama
40,44,Mortal Kombat (1995),Action|Adventure|Fantasy
41,45,To Die For (1995),Comedy|Drama|Thriller
42,46,How to Make an American Quilt (1995),Drama|Romance
43,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
45,49,When Night Is Falling (1995),Drama|Romance
46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
47,52,Mighty Aphrodite (1995),Comedy|Drama|Romance
48,53,Lamerica (1994),Adventure|Drama
49,54,"Big Green, The (1995)",Children|Comedy

In [3]:
#merge the data of both the above tables
data=data.merge(movie_titles_genre,on='movieId',how='left')
data.head(50)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
5,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
6,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
7,1,110,4.0,964982176,Braveheart (1995),Action|Drama|War
8,1,151,5.0,964984041,Rob Roy (1995),Action|Drama|Romance|War
9,1,157,5.0,964984100,Canadian Bacon (1995),Comedy|War
10,1,163,5.0,964983650,Desperado (1995),Action|Romance|Western
11,1,216,5.0,964981208,Billy Madison (1995),Comedy
12,1,223,3.0,964980985,Clerks (1994),Comedy
13,1,231,5.0,964981179,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy
14,1,235,4.0,964980908,Ed Wood (1994),Comedy|Drama
15,1,260,5.0,964981680,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
16,1,296,3.0,964982967,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
17,1,316,3.0,964982310,Stargate (1994),Action|Adventure|Sci-Fi
18,1,333,5.0,964981179,Tommy Boy (1995),Comedy
19,1,349,4.0,964982563,Clear and Present Danger (1994),Action|Crime|Drama|Thriller
20,1,356,4.0,964980962,Forrest Gump (1994),Comedy|Drama|Romance|War
21,1,362,5.0,964982588,"Jungle Book, The (1994)",Adventure|Children|Romance
22,1,367,4.0,964981710,"Mask, The (1994)",Action|Comedy|Crime|Fantasy
23,1,423,3.0,964982363,Blown Away (1994),Action|Thriller
24,1,441,4.0,964980868,Dazed and Confused (1993),Comedy
25,1,457,5.0,964981909,"Fugitive, The (1993)",Thriller
26,1,480,4.0,964982346,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
27,1,500,3.0,964981208,Mrs. Doubtfire (1993),Comedy|Drama
28,1,527,5.0,964984002,Schindler's List (1993),Drama|War
29,1,543,4.0,964981179,So I Married an Axe Murderer (1993),Comedy|Romance|Thriller
30,1,552,4.0,964982653,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance
31,1,553,5.0,964984153,Tombstone (1993),Action|Drama|Western
32,1,590,4.0,964982546,Dances with Wolves (1990),Adventure|Drama|Western
33,1,592,4.0,964982271,Batman (1989),Action|Crime|Thriller
34,1,593,4.0,964983793,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
35,1,596,5.0,964982838,Pinocchio (1940),Animation|Children|Fantasy|Musical
36,1,608,5.0,964982931,Fargo (1996),Comedy|Crime|Drama|Thriller
37,1,648,3.0,964982563,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller
38,1,661,5.0,964982838,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
39,1,673,3.0,964981775,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
40,1,733,4.0,964982400,"Rock, The (1996)",Action|Adventure|Thriller
41,1,736,3.0,964982653,Twister (1996),Action|Adventure|Romance|Thriller
42,1,780,3.0,964984086,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller
43,1,804,4.0,964980499,She's the One (1996),Comedy|Romance
44,1,919,5.0,964982475,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical
45,1,923,5.0,964981529,Citizen Kane (1941),Drama|Mystery
46,1,940,5.0,964982176,"Adventures of Robin Hood, The (1938)",Action|Adventure|Romance
47,1,943,4.0,964983614,"Ghost and Mrs. Muir, The (1947)",Drama|Fantasy|Romance
48,1,954,5.0,964983219,Mr. Smith Goes to Washington (1939),Drama
49,1,1009,3.0,964981775,Escape to Witch Mountain (1975),Adventure|Children|Fantasy

In [4]:
#find average rating of each movie
Average_ratings=pd.DataFrame(data.groupby('title')['rating'].mean())
Average_ratings.head(50)

                                                      rating
title
'71 (2014)                                          4.000000
'Hellboy': The Seeds of Creation (2004)             4.000000
'Round Midnight (1986)                              3.500000
'Salem's Lot (2004)                                 5.000000
'Til There Was You (1997)                           4.000000
'Tis the Season for Love (2015)                     1.500000
'burbs, The (1989)                                  3.176471
'night Mother (1986)                                3.000000
(500) Days of Summer (2009)                         3.666667
*batteries not included (1987)                      3.285714
...All the Marbles (1981)                           2.000000
...And Justice for All (1979)                       3.166667
00 Schneider - Jagd auf Nihil Baxter (1994)         4.500000
1-900 (06) (1994)                                   4.000000
10 (1979)                                           3.375000
10 Cent Pistol (2015)                               1.250000
10 Cloverfield Lane (2016)                          3.678571
10 Items or Less (2006)                             2.666667
10 Things I Hate About You (1999)                   3.527778
10 Years (2011)                                     3.500000
10,000 BC (2008)                                    2.705882
100 Girls (2000)                                    3.250000
100 Streets (2016)                                  2.500000
101 Dalmatians (1996)                               3.074468
101 Dalmatians (One Hundred and One Dalmatians)...  3.431818
101 Dalmatians II: Patch's London Adventure (2003)  2.500000
101 Reykjavik (101 Reykjavík) (2000)                3.500000
102 Dalmatians (2000)                               2.777778
10th & Wolf (2006)                                  4.500000
10th Kingdom, The (2000)                            2.750000
10th Victim, The (La decima vittima) (1965)         4.000000
11'09"01 - September 11 (2002)                      4.000000
11:14 (2003)                                        3.750000
11th Hour, The (2007)                               4.000000
12 Angry Men (1957)                                 4.149123
12 Angry Men (1997)                                 5.000000
12 Chairs (1971)                                    4.500000
12 Chairs (1976)                                    5.000000
12 Rounds (2009)                                    3.000000
12 Years a Slave (2013)                             3.625000
127 Hours (2010)                                    3.833333
13 Assassins (Jûsan-nin no shikaku) (2010)          4.000000
13 Ghosts (1960)                                    3.125000
13 Going on 30 (2004)                               3.190476
13 Hours (2016)                                     3.300000
13 Sins (2014)                                      3.500000
13 Tzameti (2005)                                   4.500000
13th (2016)                                         4.500000
13th Warrior, The (1999)                            2.903846
1408 (2007)                                         3.160000

In [5]:
#merge'Total Ratings' column to above table 
Average_ratings['Total Ratings']=pd.DataFrame(data.groupby('title')['rating'].count())
Average_ratings.head(50)

                                                      rating  Total Ratings
title
'71 (2014)                                          4.000000              1
'Hellboy': The Seeds of Creation (2004)             4.000000              1
'Round Midnight (1986)                              3.500000              2
'Salem's Lot (2004)                                 5.000000              1
'Til There Was You (1997)                           4.000000              2
'Tis the Season for Love (2015)                     1.500000              1
'burbs, The (1989)                                  3.176471             17
'night Mother (1986)                                3.000000              1
(500) Days of Summer (2009)                         3.666667             42
*batteries not included (1987)                      3.285714              7
...All the Marbles (1981)                           2.000000              1
...And Justice for All (1979)                       3.166667              3
00 Schneider - Jagd auf Nihil Baxter (1994)         4.500000              1
1-900 (06) (1994)                                   4.000000              1
10 (1979)                                           3.375000              4
10 Cent Pistol (2015)                               1.250000              2
10 Cloverfield Lane (2016)                          3.678571             14
10 Items or Less (2006)                             2.666667              3
10 Things I Hate About You (1999)                   3.527778             54
10 Years (2011)                                     3.500000              1
10,000 BC (2008)                                    2.705882             17
100 Girls (2000)                                    3.250000              4
100 Streets (2016)                                  2.500000              1
101 Dalmatians (1996)                               3.074468             47
101 Dalmatians (One Hundred and One Dalmatians)...  3.431818             44
101 Dalmatians II: Patch's London Adventure (2003)  2.500000              1
101 Reykjavik (101 Reykjavík) (2000)                3.500000              1
102 Dalmatians (2000)                               2.777778              9
10th & Wolf (2006)                                  4.500000              1
10th Kingdom, The (2000)                            2.750000              2
10th Victim, The (La decima vittima) (1965)         4.000000              1
11'09"01 - September 11 (2002)                      4.000000              2
11:14 (2003)                                        3.750000              4
11th Hour, The (2007)                               4.000000              1
12 Angry Men (1957)                                 4.149123             57
12 Angry Men (1997)                                 5.000000              1
12 Chairs (1971)                                    4.500000              1
12 Chairs (1976)                                    5.000000              1
12 Rounds (2009)                                    3.000000              3
12 Years a Slave (2013)                             3.625000             16
127 Hours (2010)                                    3.833333             18
13 Assassins (Jûsan-nin no shikaku) (2010)          4.000000              4
13 Ghosts (1960)                                    3.125000              4
13 Going on 30 (2004)                               3.190476             21
13 Hours (2016)                                     3.300000              5
13 Sins (2014)                                      3.500000              1
13 Tzameti (2005)                                   4.500000              1
13th (2016)                                         4.500000              2
13th Warrior, The (1999)                            2.903846             26
1408 (2007)                                         3.160000             25

In [6]:
#sort values according to 'Total Ratings' column
moviemat=data.pivot_table(index='userId',columns='title',values='rating')
moviemat.head()
Average_ratings.sort_values('Total Ratings',ascending=False,kind='mergesort').head(50)

                                                      rating  Total Ratings
title
Forrest Gump (1994)                                 4.164134            329
Shawshank Redemption, The (1994)                    4.429022            317
Pulp Fiction (1994)                                 4.197068            307
Silence of the Lambs, The (1991)                    4.161290            279
Matrix, The (1999)                                  4.192446            278
Star Wars: Episode IV - A New Hope (1977)           4.231076            251
Jurassic Park (1993)                                3.750000            238
Braveheart (1995)                                   4.031646            237
Terminator 2: Judgment Day (1991)                   3.970982            224
Schindler's List (1993)                             4.225000            220
Fight Club (1999)                                   4.272936            218
Toy Story (1995)                                    3.920930            215
Star Wars: Episode V - The Empire Strikes Back ...  4.215640            211
American Beauty (1999)                              4.056373            204
Usual Suspects, The (1995)                          4.237745            204
Seven (a.k.a. Se7en) (1995)                         3.975369            203
Independence Day (a.k.a. ID4) (1996)                3.445545            202
Apollo 13 (1995)                                    3.845771            201
Raiders of the Lost Ark (Indiana Jones and the ...  4.207500            200
Lord of the Rings: The Fellowship of the Ring, ...  4.106061            198
Star Wars: Episode VI - Return of the Jedi (1983)   4.137755            196
Godfather, The (1972)                               4.289062            192
Fugitive, The (1993)                                3.992105            190
Batman (1989)                                       3.428571            189
Lord of the Rings: The Two Towers, The (2002)       4.021277            188
Saving Private Ryan (1998)                          4.146277            188
Lord of the Rings: The Return of the King, The ...  4.118919            185
Aladdin (1992)                                      3.792350            183
Fargo (1996)                                        4.116022            181
Sixth Sense, The (1999)                             3.893855            179
True Lies (1994)                                    3.497191            178
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)           3.983051            177
Lion King, The (1994)                               3.941860            172
Back to the Future (1985)                           4.038012            171
Speed (1994)                                        3.529240            171
Gladiator (2000)                                    3.938235            170
Shrek (2001)                                        3.867647            170
Men in Black (a.k.a. MIB) (1997)                    3.487879            165
Dances with Wolves (1990)                           3.835366            164
Mission: Impossible (1996)                          3.537037            162
Ace Ventura: Pet Detective (1994)                   3.040373            161
Memento (2000)                                      4.122642            159
Mask, The (1994)                                    3.184713            157
Dark Knight, The (2008)                             4.238255            149
Pirates of the Caribbean: The Curse of the Blac...  3.778523            149
Alien (1979)                                        3.969178            146
Beauty and the Beast (1991)                         3.770548            146
Die Hard (1988)                                     3.862069            145
Die Hard: With a Vengeance (1995)                   3.555556            144
Mrs. Doubtfire (1993)                               3.388889            144

In [7]:
#create a table where the values of the matrix represent the rating for each movie by each user
movie_user = data.pivot_table(index='userId',columns='title',values='rating')
movie_user.head(50)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#here i am choosing 'Toy Story (1995)' movie to test the recommender system
#find the correlation values for the selected movie with the other movies
correlations = movie_user.corrwith(movie_user['Toy Story (1995)'])
correlations.head(50)

C:\Users\PUNIA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2821: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\PUNIA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2680: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
'71 (2014)                                                     NaN
'Hellboy': The Seeds of Creation (2004)                        NaN
'Round Midnight (1986)                                         NaN
'Salem's Lot (2004)                                            NaN
'Til There Was You (1997)                                      NaN
'Tis the Season for Love (2015)                                NaN
'burbs, The (1989)                                        0.240563
'night Mother (1986)                                           NaN
(500) Days of Summer (2009)                               0.353833
*batteries not included (1987)                           -0.427425
...All the Marbles (1981)                                      NaN
...And Justice for All (1979)                                  NaN
00 Schneider - Jagd auf Nihil Baxter (1994)                    NaN
1-900 (06) (1994)                                              NaN
10 (1979)                                                      NaN
10 Cent Pistol (2015)                                     1.000000
10 Cloverfield Lane (2016)                               -0.285732
10 Items or Less (2006)                                  -1.000000
10 Things I Hate About You (1999)                         0.322741
10 Years (2011)                                                NaN
10,000 BC (2008)                                         -0.251279
100 Girls (2000)                                               NaN
100 Streets (2016)                                             NaN
101 Dalmatians (1996)                                     0.580479
101 Dalmatians (One Hundred and One Dalmatians) (1961)    0.399643
101 Dalmatians II: Patch's London Adventure (2003)             NaN
101 Reykjavik (101 Reykjavík) (2000)                           NaN
102 Dalmatians (2000)                                    -0.637459
10th & Wolf (2006)                                             NaN
10th Kingdom, The (2000)                                       NaN
10th Victim, The (La decima vittima) (1965)                    NaN
11'09"01 - September 11 (2002)                                 NaN
11:14 (2003)                                              0.000000
11th Hour, The (2007)                                          NaN
12 Angry Men (1957)                                       0.321827
12 Angry Men (1997)                                            NaN
12 Chairs (1971)                                               NaN
12 Chairs (1976)                                               NaN
12 Rounds (2009)                                               NaN
12 Years a Slave (2013)                                   0.188582
127 Hours (2010)                                          0.450711
13 Assassins (Jûsan-nin no shikaku) (2010)                0.088561
13 Ghosts (1960)                                               NaN
13 Going on 30 (2004)                                     0.076205
13 Hours (2016)                                          -1.000000
13 Sins (2014)                                                 NaN
13 Tzameti (2005)                                              NaN
13th (2016)                                                    NaN
13th Warrior, The (1999)                                 -0.077956
1408 (2007)                                               0.522294
dtype: float64

In [9]:
#remove all the empty values
recommendation = pd.DataFrame(correlations,columns=['Correlation'])
recommendation.dropna(inplace=True)
#merge 'Total Ratings' column to the correlation table
recommendation = recommendation.join(Average_ratings['Total Ratings'])
recommendation.head()

                                Correlation  Total Ratings
title
'burbs, The (1989)                 0.240563             17
(500) Days of Summer (2009)        0.353833             42
*batteries not included (1987)    -0.427425              7
10 Cent Pistol (2015)              1.000000              2
10 Cloverfield Lane (2016)        -0.285732             14

In [10]:
#filter all the movies with a correlation value to Toy Story (1995) 
recc = recommendation[recommendation['Total Ratings']>100].sort_values('Correlation',ascending=False,kind='mergesort').reset_index()
#merge the movies dataset for verifying the recommendations
recc = recc.merge(movie_titles_genre,on='title', how='left')
recc.head(50)

,title,Correlation,Total Ratings,movieId,genres
0,Toy Story (1995),1.000000,215,1,Adventure|Animation|Children|Comedy|Fantasy
1,"Incredibles, The (2004)",0.643301,125,8961,Action|Adventure|Animation|Children|Comedy
2,Finding Nemo (2003),0.618701,141,6377,Adventure|Animation|Children|Comedy
3,Aladdin (1992),0.611892,183,588,Adventure|Animation|Children|Comedy|Musical
4,"Monsters, Inc. (2001)",0.490231,132,4886,Adventure|Animation|Children|Comedy|Fantasy
5,Mrs. Doubtfire (1993),0.446261,144,500,Comedy|Drama
6,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",0.438237,120,4973,Comedy|Romance
7,American Pie (1999),0.420117,103,2706,Comedy|Romance
8,Die Hard: With a Vengeance (1995),0.410939,144,165,Action|Crime|Thriller
9,E.T. the Extra-Terrestrial (1982),0.409216,122,1097,Children|Drama|Sci-Fi
10,Home Alone (1990),0.408444,116,586,Children|Comedy
11,Babe (1995),0.407493,128,34,Children|Drama
12,Ghostbusters (a.k.a. Ghost Busters) (1984),0.404487,120,2716,Action|Comedy|Sci-Fi
13,Memento (2000),0.378622,159,4226,Mystery|Thriller
14,Pirates of the Caribbean: The Curse of the Bla...,0.370938,149,6539,Action|Adventure|Comedy|Fantasy
15,Back to the Future (1985),0.368229,171,1270,Adventure|Comedy|Sci-Fi
16,Shrek (2001),0.363078,170,4306,Adventure|Animation|Children|Comedy|Fantasy|Ro...
17,Up (2009),0.355424,105,68954,Adventure|Animation|Children|Drama
18,Outbreak (1995),0.352338,101,292,Action|Drama|Sci-Fi|Thriller
19,"Lion King, The (1994)",0.352032,172,364,Adventure|Animation|Children|Drama|Musical|IMAX
20,Speed (1994),0.350358,171,377,Action|Romance|Thriller
21,"Silence of the Lambs, The (1991)",0.345397,279,593,Crime|Horror|Thriller
22,Willy Wonka & the Chocolate Factory (1971),0.332187,119,1073,Children|Comedy|Fantasy|Musical
23,Jumanji (1995),0.330978,110,2,Adventure|Children|Fantasy
24,Raiders of the Lost Ark (Indiana Jones and the...,0.330962,200,1198,Action|Adventure
25,Ferris Bueller's Day Off (1986),0.329230,109,2918,Comedy
26,"Departed, The (2006)",0.326149,107,48516,Crime|Drama|Thriller
27,Donnie Darko (2001),0.320860,109,4878,Drama|Mystery|Sci-Fi|Thriller
28,Independence Day (a.k.a. ID4) (1996),0.316038,202,780,Action|Adventure|Sci-Fi|Thriller
29,Pretty Woman (1990),0.313886,135,597,Comedy|Romance
30,One Flew Over the Cuckoo's Nest (1975),0.305511,133,1193,Drama
31,Spider-Man (2002),0.303805,122,5349,Action|Adventure|Sci-Fi|Thriller
32,Forrest Gump (1994),0.303465,329,356,Comedy|Drama|Romance|War
33,Crimson Tide (1995),0.296927,103,161,Drama|Thriller|War
34,"Sixth Sense, The (1999)",0.290518,179,2762,Drama|Horror|Mystery
35,Four Weddings and a Funeral (1994),0.286399,103,357,Comedy|Romance
36,Batman Begins (2005),0.285349,116,33794,Action|Crime|IMAX
37,Star Wars: Episode V - The Empire Strikes Back...,0.283224,211,1196,Action|Adventure|Sci-Fi
38,"Net, The (1995)",0.278559,112,185,Action|Crime|Thriller
39,Die Hard (1988),0.277243,145,1036,Action|Crime|Thriller
40,Apocalypse Now (1979),0.275016,107,1208,Action|Drama|War
41,Beauty and the Beast (1991),0.268384,146,595,Animation|Children|Fantasy|Musical|Romance|IMAX
42,Schindler's List (1993),0.257732,220,527,Drama|War
43,Indiana Jones and the Temple of Doom (1984),0.257698,108,2115,Action|Adventure|Fantasy
44,Men in Black (a.k.a. MIB) (1997),0.255308,165,1580,Action|Comedy|Sci-Fi
45,"Dark Knight, The (2008)",0.255290,149,58559,Action|Crime|Drama|IMAX
46,Twister (1996),0.253925,123,736,Action|Adventure|Romance|Thriller
47,"Usual Suspects, The (1995)",0.250781,204,50,Crime|Mystery|Thriller
48,Jurassic Park (1993),0.245501,238,480,Action|Adventure|Sci-Fi|Thriller
49,Harry Potter and the Chamber of Secrets (2002),0.242845,102,5816,Adventure|Fantasy

In [11]:
#We can see that the top recommendations are pretty good. The movie that has the highest/full correlation to Toy Story is Toy Story itself. The movies such as The Incredibles,Finding Nemo and Alladin show high correlation with Toy Story.